@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<div id="mydiv">
    <p>{{message}}</p>
</div>


<script type="text/javascript">
    const app1 = Vue.createApp({
        data() {
            return {
                message: 'hi how r u'
            }
        },
        mounted() {
            //ToastInfo('hi')
        },

    }).mount('#mydiv');
</script>
