<div class="col-md-12">
    <div class="card mb-4">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            Proof
            <button type="button" class="btn rounded-pill btn-primary">
                <i class="fa-solid fa-plus"></i>&nbsp;Add
            </button>
        </h5>
        <hr class="my-0" />
        <!-- Account -->
        <div class="card-body">
            <div class="row row-cols-2 row-cols-xxl-5 row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">

                <div class="col">
                    <div class="card h-100 shadow-lg border border-info  cursor-pointer text-center">
                        <div class="card-body btn btn-primary">
                           Aadhar
                        </div>
                        <div class="card-body">
                            <i class='h1 bx bx-fingerprint bx-tada bx-flip-horizontal mb-2'></i>
                            <hr class="my-0" />
                            <p class="icon-name text-capitalize text-truncate mb-0">123456789012</p>
                            <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                    <span class="tf-icons bx bxs-edit"></span>
                                </button>

                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">  
                                    <span class="tf-icons bx bx-trash"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg border border-info  cursor-pointer text-center">
                        <div class="card-body btn btn-primary">
                            PAN
                        </div>
                        <div class="card-body">
                            <i class='h2 bx bxs-user-circle bx-burst bx-flip-horizontal'></i>
                            <hr class="my-0" />
                            <p class="icon-name text-capitalize text-truncate mb-0">ABDCE1234Q</p>
                            <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                    <span class="tf-icons bx bxs-edit"></span>
                                </button>

                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                    <span class="tf-icons bx bx-trash"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-lg border border-info  cursor-pointer text-center">
                        <div class="card-body btn btn-primary">
                            Driving License
                        </div>
                        <div class="card-body">
                            <i class='h2 bx bxs-user-detail bx-flip-vertical bx-fade-left'></i>
                            <hr class="my-0" />
                            <p class="icon-name text-capitalize text-truncate mb-0">ABDCE1234Q</p>
                            <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                    <span class="tf-icons bx bxs-edit"></span>
                                </button>

                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                    <span class="tf-icons bx bx-trash"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-lg border border-info  cursor-pointer text-center">
                        <div class="card-body btn btn-primary">
                            Voters Id
                        </div>
                        <div class="card-body">
                            <i class='h2 bx bxs-user-voice bx-flip-horizontal bx-flashing'></i>
                            <hr class="my-0" />
                            <p class="icon-name text-capitalize text-truncate mb-0">ABDCE1234Q</p>
                            <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                    <span class="tf-icons bx bxs-edit"></span>
                                </button>

                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                    <span class="tf-icons bx bx-trash"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-lg border border-info  cursor-pointer text-center">
                        <div class="card-body btn btn-primary">
                            Passbook
                        </div>
                        <div class="card-body">
                            <i class='h2 bx bxs-bank bx-burst'></i>
                            <hr class="my-0" />
                            <p class="icon-name text-capitalize text-truncate mb-0">ABDCE1234Q</p>
                            <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                    <span class="tf-icons bx bxs-edit"></span>
                                </button>

                                <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                    <span class="tf-icons bx bx-trash"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100  shadow-sm border border-info  cursor-pointer text-center">
                        <div class="card-body">
                            <i class='h2 bx bxs-bank bx-burst'></i>
                            <hr class="my-0" />
                            <p class="icon-name text-capitalize text-truncate mb-0">PassBook</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

</script>