



<div class="col-md-12">

    <div class="card mb-2">
        <div class="container">
            <div class="card-title"></div>
            <h5 class="card-title d-flex justify-content-between align-items-center">
                Proof
                <button type="button" class="btn rounded-pill btn-primary">
                    <i class="fa-solid fa-plus"></i>&nbsp;Add
                </button>
            </h5>
        </div>

        <!-- Account -->
    </div>
    <div class="col-lg-12">

        <div class="row row-cols-2 row-cols-xxl-5 row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-2">
            <div class="col">
                <div class="card flip-card h-100 shadow-lg  cursor-pointer text-center">
                    <div class="flip-card-body">
                        <div class="flip-card-front">
                            <div class="d-grid gap-2 col-lg-12 mx-auto">
                                <div class="card-body btn btn-primary">Aadhar</div>
                            </div>
                            <div class="card-body">
                                <i class='h1 bx bx-fingerprint bx-tada bx-flip-horizontal'></i>
                                <hr class="my-0" />
                                <p class="icon-name text-capitalize text-truncate mb-0">123456789012</p>
                                <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bxs-edit"></span>
                                    </button>

                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back border border-info">
                            <div class="card-body">
                                <h1>John Doe</h1>
                                <p class="text-dark">Architect & Engineer</p>
                                <p class="text-dark">We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card  h-100 shadow-lg  cursor-pointer text-center" id="myDIV">
                    <div class="flip-card-body">
                        <div class="flip-card-front">
                            <div class="d-grid gap-2 col-lg-12 mx-auto">
                                <div class="card-body btn btn-primary">Aadhar</div>
                            </div>
                            <div class="card-body">
                                <i class='h2 bx bxs-user-circle bx-burst bx-flip-horizontal'></i>
                                <hr class="my-0" />
                                <p class="icon-name text-capitalize text-truncate mb-0">123456789012</p>
                                <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bxs-edit"></span>
                                    </button>

                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-outline-secondary" onclick="myFunction()">
                                        <span class="tf-icons bx bx-rotate-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back border border-info">
                            <div class="card-body">
                                <h1>John Doe</h1>
                                <p class="text-dark">Architect & Engineer</p>
                                <p class="text-dark">We love that guy</p>

                                <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bxs-edit"></span>
                                    </button>

                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-outline-secondary" onclick="myFunction()">
                                        <span class="tf-icons bx bx-rotate-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card flip-card h-100 shadow-lg  cursor-pointer text-center">
                    <div class="flip-card-body">
                        <div class="flip-card-front">
                            <div class="d-grid gap-2 col-lg-12 mx-auto">
                                <div class="card-body btn btn-primary">Aadhar</div>

                            </div>
                            <div class="card-body">
                                <i class='h2 bx bxs-user-detail bx-flip-vertical bx-fade-left'></i>
                                <hr class="my-0" />
                                <p class="icon-name text-capitalize text-truncate mb-0">123456789012</p>
                                <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bxs-edit"></span>
                                    </button>

                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back border border-info">
                            <div class="card-body">
                                <h1>John Doe</h1>
                                <p class="text-dark">Architect & Engineer</p>
                                <p class="text-dark">We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card flip-card h-100 shadow-lg  cursor-pointer text-center">
                    <div class="flip-card-body">
                        <div class="flip-card-front">
                            <div class="d-grid gap-2 col-lg-12 mx-auto">
                                <div class="card-body btn btn-primary">Aadhar</div>

                            </div>
                            <div class="card-body">
                                <i class='h2 bx bxs-user-voice bx-flip-horizontal bx-flashing'></i>
                                <hr class="my-0" />
                                <p class="icon-name text-capitalize text-truncate mb-0">123456789012</p>
                                <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bxs-edit"></span>
                                    </button>

                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back border border-info">
                            <div class="card-body">
                                <h1>John Doe</h1>
                                <p class="text-dark">Architect & Engineer</p>
                                <p class="text-dark">We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card flip-card h-100 shadow-lg  cursor-pointer text-center">
                    <div class="flip-card-body">
                        <div class="flip-card-front">
                            <div class="d-grid gap-2 col-lg-12 mx-auto">
                                <div class="card-body btn btn-primary">Aadhar</div>

                            </div>
                            <div class="card-body">
                                <i class='h2 bx bxs-bank bx-burst'></i>
                                <hr class="my-0" />
                                <p class="icon-name text-capitalize text-truncate mb-0">123456789012</p>
                                <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bxs-edit"></span>
                                    </button>

                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back border border-info">
                            <div class="card-body">
                                <h1>John Doe</h1>
                                <p class="text-dark">Architect & Engineer</p>
                                <p class="text-dark">We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card flip-card h-100 shadow-lg  cursor-pointer text-center">
                    <div class="flip-card-body">
                        <div class="flip-card-front">
                            <div class="d-grid gap-2 col-lg-12 mx-auto">
                                <div class="card-body btn btn-primary">Aadhar</div>

                            </div>
                            <div class="card-body">
                                <i class='h2 bx bxs-bank bx-burst'></i>
                                <hr class="my-0" />
                                <p class="icon-name text-capitalize text-truncate mb-0">123456789012</p>
                                <div class="btn-group demo-inline-spacing" role="group" aria-label="Third group">
                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-success">
                                        <span class="tf-icons bx bxs-edit"></span>
                                    </button>

                                    <button type="button" class="shadow-sm btn rounded-pill btn-icon btn-danger">
                                        <span class="tf-icons bx bx-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back border border-info">
                            <div class="card-body">
                                <h1>John Doe</h1>
                                <p class="text-dark">Architect & Engineer</p>
                                <p class="text-dark">We love that guy</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<script type="text/javascript">
    function myFunction() {
        var element = document.getElementById("myDIV");
        element.classList.add("flip-card");
    }
    function FlipToFront() {
        var element = document.getElementById("myDIV");
        element.classList.remove("flip-card");
    }
</script>
